body {
  margin: 0;
  padding: 0;
}
.bg{
  background: url(img/bg-img.jpg) no-repeat center top;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.container{position: relative; z-index: 2;}
.bg-img {
  padding: 45px 0;
}
.bg-img .logo-box {
  text-align: center;
}
.box {
  width: 1160px;
  margin: 0 auto;
  background-color: #fff;
  text-align: center;
  padding: 90px 0;
  border-top: 5px solid #58c7ff;
  box-shadow: 0 14px 28px rgba(0,0,0,0.15);
}
.box img{
  margin-bottom: 35px;
}
.box h1{
  font-size: 50px;
  font-weight: 100;
  font-family: 'Lato';
  color: #333;
  margin: 0 0 15px 0;
}
.box p{
  font-size: 50px;
  font-weight: 900;
  font-family: 'Lato';
  color: #333;
  margin: 0 0 110px 0;
}
.box span{
  display: block;
  font-size: 20px;
  font-weight: 900;
  font-family: 'Lato';
  color: #333;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 0 20px 0;
}
.btn-box{
  background-color: #e51937;
  width: 525px;
  margin: 0 auto;
  color: #fff;
  font-size: 16px;
  border-radius: 30px;
  padding: 15px 0;
}
.btn-box a.phn{
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 900;
  font-family: 'Lato';
  padding-right: 15px;
}
.btn-box a.mail{
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Lato';
  padding-left: 15px;
}
.btn-box a.mail:hover{
  text-decoration: underline;
}
.footer-box{
  width:1160px;
  margin: 0 auto;
  padding: 50px 0;
}
.row::after{
  content: '';
  clear: both;
  display: table;
}
.footer-box .col-7{
  width: 70%;
  float: left;
}
.footer-box .col-3{
  width: 30%;
  float: left;
}
.footer-box .col-7 p{
  font-size: 16px;
  font-weight: 400;
  font-family: 'Lato';
  color: #666;
  letter-spacing: 1px;
  line-height: 1.6;
  margin: 0;
}
.footer-box .col-3 .icon{
  float: right;
}
.footer-box .col-3 .icon a{
  padding: 0 10px;
}
@media all and (max-width:1200px){
  .box{width: 85%;}
  .footer-box{width: 85%;}
}
@media all and (max-width:768px){
  .bg-img{padding: 35px 0;}
  .box{padding: 60px 0;}
  .box h1{font-size: 45px;margin: 0 0 10px 0;}
  .box p{font-size: 45px;margin: 0 0 80px 0;}
  .footer-box .col-7{width: 100%;float: none;text-align: center;margin-bottom: 20px;}
  .footer-box .col-3{width: 100%;float: none;text-align: center;}
  .footer-box .col-3 .icon{float: none;}
}
@media all and (max-width:760px){
  .btn-box{border-radius: 10px;}
  .btn-box a.phn{display: block;margin-left: 30px;padding-bottom: 5px;}
  .btn-box a.mail{display: block;padding-top: 5px;}
}
@media all and (max-width:680px){
  .btn-box{width: 85%;}
}
@media all and (max-width:580px){
  .box h1,.box p{font-size: 40px;}
  .box p{margin: 0 0 60px;}
}
@media all and (max-width:480px){
  .box h1,.box p{font-size: 35px;}
}
@media all and (max-width:479px){
  .bg{height: 300px;}
  .bg-img{padding: 15px 0;}
  .logo-box img{width: 50%;}
  .box{padding: 20px 0;}
  .box img{width: 50px;}
  .box h1, .box p{font-size: 4.2vh;}
  .box p{margin-bottom: 30px;}
  .box span{font-size: 16px; margin-bottom: 5px;}
}
